body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display {
  width: 40%;
  min-width: 500;
  margin-right: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 50px rgba(2, 2, 2, 0.3);
          box-shadow: 0 1px 50px rgba(2, 2, 2, 0.3);
  border: 1px solid #ccd0d4;
  position: relative;
}

.display img {
  width: 100%;
  position: absolute;
  border-radius: 10px;
  border: 1px solid #ccd0d4;
}

.display p {
  font-family: 'Ubuntu';
  color: white;
}

.display .focim {
  margin: 0;
  padding: 0;
  display: block;
  font-weight: 700;
  position: absolute;
}

.display .alcim {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  font-weight: 300;
}

.controls {
  width: 300px;
  padding: 1rem;
  margin-left: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 50px rgba(2, 2, 2, 0.3);
          box-shadow: 0 1px 50px rgba(2, 2, 2, 0.3);
  padding: 20px;
  border: 1px solid #ccd0d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.controls input {
  border: none;
  border-bottom: 1px solid #d2d2d2;
  padding: 3px;
  color: #333333;
  font-size: 1.3rem;
  line-height: 1.333;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 8px;
}

.controls .clicker {
  height: 1.2rem !important;
  width: 1.2rem !important;
  color: white;
  border-radius: 20% !important;
  border: 1px solid #ccd0d4 !important;
  margin: 0.1rem !important;
  margin-right: 0.2rem !important;
  padding: 0 !important;
  background-color: white !important;
  cursor: pointer !important;
}

.controls #generate {
  padding: 9px 35px;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8;
  background-color: #00b26b;
  border: 2px solid #00b26b;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  margin: auto;
  cursor: pointer;
}

.controls #generate:hover {
  color: #00b26b;
  background-color: white;
}

.imgPicker {
  background-color: #757575;
  height: calc(785px / 3);
}

@media (max-width: 700px) {
  .editor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .editor .display, .editor .controls {
    margin: 1rem;
  }
  .display {
    width: 85%;
  }
}
/*# sourceMappingURL=style.css.map */