.logo{
    width: 80%;
    margin: auto;
    display: block;
    vertical-align: middle;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.gradientblock{
    margin: auto;
    display: flex;
    width: 13vw;
    min-width: 200px;
    margin: 2vw;
    height: 20vh;
    min-height: 200px;
    align-content: center;
}

.counter{
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bolder;
    text-shadow: 3px 3px 6px rgba(150, 150, 150, 1);
}

@media only screen and (max-width: 500px) {
    .gradientblock{
        width: 80vw;
        height: 30vh;
    }
  }