.logo{
    width: 80%;
    margin: auto;
    display: block;
    vertical-align: middle;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.gradientblock{
    margin: auto;
    display: flex;
    width: 13vw;
    min-width: 200px;
    margin: 2vw;
    height: 20vh;
    min-height: 200px;
    align-content: center;
}